{% extends "layout2.html" %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <form action="/" method="POST">
                <div class="form-group">
                    <label for="x1">X1:</label>
                    <input type="text" class="form-control" id="x1" name="x1">
                </div>
                <div class="form-group">
                    <label for="y1">Y1:</label>
                    <input type="text" class="form-control" id="y1" name="y1">
                </div>
                <div class="form-group">
                    <label for="x2">X2:</label>
                    <input type="text" class="form-control" id="x2" name="x2">
                </div>
                <div class="form-group">
                    <label for="y2">Y2:</label>
                    <input type="text" class="form-control" id="y2" name="y2">
                </div>
                <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
        </div>
    </div>
{% endblock %}
